In [2]:
import pandas as pd
import numpy as np

In [3]:
!pwd

/Users/kang/GitHub/Dissertation

In [3]:
df = pd.read_csv(r"Data/AMZN_2021-04-01_34200000_57600000_message_10.csv")

/var/folders/wm/hz1dg7s12290bq4v0lkczywc0000gn/T/ipykernel_4959/3233786883.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"Data/AMZN_2021-04-01_34200000_57600000_message_10.csv")

In [4]:
df

        34200.000241945  4   15080205    7  31163800  -1 null
0          34200.007415  5          0   48  31178000   1  NaN
1          34200.012480  3   15069985   48  31180100  -1  NaN
2          34200.029034  5          0    1  31178000   1  NaN
3          34200.047196  1   15122125   28  31155000   1  NaN
4          34200.131106  5          0    1  31178000   1  NaN
...                 ... ..        ...  ...       ...  ..  ...
361119     57599.912692  3  405461561    7  31620000  -1  NaN
361120     57599.912692  1  405469365    7  31616900  -1  NaN
361121     57599.917400  5          0    7  31616400   1  NaN
361122     57599.937481  1  405470961   25  31610800   1  NaN
361123     57599.988850  1  405478845  339  31604400   1  NaN

[361124 rows x 7 columns]

In [5]:
from Exchange import *