In [2]:
import pandas as pd
import numpy as np

In [3]:
!pwd

/Users/kang/GitHub/Dissertation

In [9]:
Flow = pd.read_csv(r"Data/AMZN_2021-04-01_34200000_57600000_message_10.csv")

/var/folders/wm/hz1dg7s12290bq4v0lkczywc0000gn/T/ipykernel_4959/2869968213.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Flow = pd.read_csv(r"Data/AMZN_2021-04-01_34200000_57600000_message_10.csv")

In [10]:
Book = pd.read_csv(r"Data/AMZN_2021-04-01_34200000_57600000_orderbook_10.csv")

In [11]:
Book.head()

,31180100,48,31161600,3,31190000,2,31160000,4,31200000,18,...,31130000,2.4,31237900,1,31120300,35,31240000,4.3,31120200,35.1
0,31180100,48,31161600,3,31190000,2,31160000,4,31200000,18,...,31130000,2,31237900,1,31120300,35,31240000,4,31120200,35
1,31190000,2,31161600,3,31200000,18,31160000,4,31210000,3,...,31130000,2,31240000,4,31120300,35,31240800,5,31120200,35
2,31190000,2,31161600,3,31200000,18,31160000,4,31210000,3,...,31130000,2,31240000,4,31120300,35,31240800,5,31120200,35
3,31190000,2,31161600,3,31200000,18,31160000,4,31210000,3,...,31140000,4,31240000,4,31130000,2,31240800,5,31120300,35
4,31190000,2,31161600,3,31200000,18,31160000,4,31210000,3,...,31140000,4,31240000,4,31130000,2,31240800,5,31120300,35

In [5]:
from Exchange import *

In [12]:
Book.describe()

,31180100,48,31161600,3,31190000,2,31160000,4,31200000,18,...,31130000,2.4,31237900,1,31120300,35,31240000,4.3,31120200,35.1
count,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000,...,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000,3.611240e+05,361124.000000
mean,3.137898e+07,53.004084,3.137008e+07,43.983471,3.138050e+07,50.329050,3.136859e+07,45.824717,3.138190e+07,45.283529,...,3.136153e+07,39.294849,3.138891e+07,44.003666,3.136045e+07,39.421689,3.138995e+07,40.846729,3.135939e+07,40.334832
std,1.114644e+05,183.175457,1.130380e+05,102.333355,1.110875e+05,181.086184,1.132442e+05,117.215225,1.107682e+05,170.741516,...,1.140839e+05,123.621755,1.092646e+05,220.221439,1.141902e+05,119.938654,1.090252e+05,205.916094,1.142915e+05,122.659716
min,3.117220e+07,1.000000,3.115800e+07,1.000000,3.117630e+07,1.000000,3.115550e+07,1.000000,3.117690e+07,1.000000,...,3.113000e+07,1.000000,3.118690e+07,1.000000,3.112030e+07,1.000000,3.119000e+07,1.000000,3.112020e+07,1.000000
25%,3.129860e+07,4.000000,3.128800e+07,3.000000,3.130000e+07,2.000000,3.128630e+07,2.000000,3.130090e+07,1.000000,...,3.127880e+07,2.000000,3.131000e+07,1.000000,3.127770e+07,2.000000,3.131150e+07,1.000000,3.127640e+07,2.000000
50%,3.134450e+07,13.000000,3.133530e+07,19.000000,3.134550e+07,10.000000,3.133390e+07,17.000000,3.134660e+07,8.000000,...,3.132750e+07,15.000000,3.135310e+07,6.000000,3.132630e+07,16.000000,3.135380e+07,6.000000,3.132540e+07,18.000000
75%,3.146590e+07,47.000000,3.146030e+07,52.000000,3.146760e+07,38.000000,3.145760e+07,55.000000,3.146840e+07,36.000000,...,3.145000e+07,39.000000,3.147580e+07,25.000000,3.144920e+07,39.000000,3.147730e+07,25.000000,3.144800e+07,39.000000
max,3.162390e+07,4972.000000,3.162070e+07,5411.000000,3.162450e+07,5185.000000,3.162020e+07,5411.000000,3.162590e+07,5185.000000,...,3.161440e+07,2202.000000,3.162810e+07,5071.000000,3.161370e+07,2202.000000,3.162840e+07,5071.000000,3.161330e+07,2202.000000

In [13]:
Book.shape

(361124, 40)

In [ ]:
# Interface
import exchange
env = exchange.make()
observation, info =  env.reset(return_info = True)
for _ in range(1000):
    action = policy(observation)
    observation, reward, done, infor = env.step(action)
    if done:
        observation, info = env.reset(return_info = True)
env.close()